<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">
    <meta name="msapplication-tap-highlight" content="no">

    <!-- NOTE: ../ because this file is in templates/ and assets are in static/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="../static/assets/soccer.ico?v=2" rel="icon">

    <title>Chris Orellana | Portfolio</title>

    <!-- Correct CSS path -->
    <link href="../static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="minimal">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>

    <header>
        <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- These links are fine because the other HTML files also live in templates/ -->
                        <li><a href="./index.html" title="">01 : Home</a></li>
                        <li><a href="./works.html" title="">02 : Works</a></li>
                        <li><a href="./about.html" title="">03 : About me</a></li>
                        <li><a href="./contact.html" title="">04 : Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Fix the background image path (../ to climb out of templates/) -->
    <div class="hero-full-container background-image-container white-text-container"
        style="background-image: url('../static/assets/images/Brain-Image.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Hello,<br>
                                <span id="typed-strings">
                                    <span>I'm Chris Orellana</span>
                                    <span>Applied Mathematician</span>
                                    <span>Aspiring Data Scientist</span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            type();
            movingBackgroundImage();
        });
    </script>

    <!-- Correct JS path -->
    <script type="text/javascript" src="../static/main.70a66962.js"></script>
</body>

</html>